body{background: lightyellow;}

h1{text-transform: uppercase;}

h3{color: red;}

.purplepuppy{color: purple;
font-size: 25px;
font-style: italic;}

.bluejeans{color: blue;
font-family: sans-serif;
font-size: 15px;}

.fruit{ height:50%;
        width: 50%;
        border: black 1px dashed;
        padding:15px;

}

.superheros{height: 50%;
            width: 40%;
            margin:20px;
            border: blue 1px solid;
            padding:15px;}
